<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory>tests/Browser</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="APP_MULTI_TENANT" value="false"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SANDBOX_PROVIDER" value="fake"/>
        <env name="SANDBOX_PUBLISHER" value="fake"/>
        <env name="SANDBOX_GATEWAY_SECRET" value=""/>
        <env name="OPENROUTER_API_KEY" value=""/>
        <env name="OPENROUTER_PROVISIONING_KEY" value=""/>
        <env name="AUTUMN_SECRET_KEY" value=""/>
        <env name="SANDBOX_MODEL_CATALOG_URL" value="https://models.test/api.json"/>
        <env name="SANDBOX_CHATGPT_MODELS_URL" value="https://chatgpt.test/models"/>
        <env name="SANDBOX_TEMPLATES_DOKPLOY_URL" value="https://dokploy.test"/>
        <env name="SANDBOX_APP_SCREENSHOTS_GITHUB_URL" value="https://github.test"/>
        <env name="SANDBOX_APP_SCREENSHOTS_WEBSITE_PREVIEWS" value="false"/>
        <env name="SANDBOX_AGENT" value="App\Sandbox\Agents\FakeAgentRunner"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
