[Desktop Entry]
Type=Application
Name=Files
Comment=Your Home, Drive and downloads
Exec=pcmanfm %U
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
MimeType=inode/directory;
StartupWMClass=Pcmanfm
